.sidopt {
    display: flex;
    -webkit-box-align: start;
    align-items: center;
    cursor: pointer;
    
}
.side > .MuiSvgIcon-root {
    padding: 7px !important;
}
.side > h2 {
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
}
.side:hover {
    background-color: #e8f5fe !important;
    border-radius: 30px;
    color: var(--twitter-color) !important;
   transition: color 100ms ease-out !important;
   font-weight: bold;
}
.side--active {
    color: var(--twitter-color);
}

.side{
    color: black;
    align-items: center;
    display: flex;
    background: none;
    padding: 5px;
    height: 45px;
    
    
}

.sidbtn{
    border-radius: 30px !important;
    background-color: white !important;
    padding: 5px !important;
}
/*.sidbtn:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
   transition: color 300ms ease-in;
   font-weight: bold;
}*/